* {
    font-family: "Open Sans", sans-serif;
}

/* do not change color of link if visited */
a {
    color: #0000EE;
}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
    font-size: 1.5em;
    font-weight: bold;
}
