body {
    margin: 0em;
    padding: 1em;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
}

* {
    font-family: "Open Sans", sans-serif;
}

/* do not change color of link if visited */
a {
    color: #0000EE;
}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
    font-size: 1.5em;
    font-weight: bold;
}

h3.author {
    font-size: 1em;
    font-weight: normal;
}

p.title {
    font-size: 1em;
}

div.informalexample {
    padding: 1em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}

div.toc {
    font-size: 1em;
}

/* the color, background-color, and border are from Maven documentation;
 * http://maven.apache.org/css/apache-maven-fluido-1.8.min.css
 */
code {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    color: #dd1144;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}

span.package {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    color: #dd1144;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}

span.guibutton,
span.guiicon,
span.guilabel,
span.guimenu,
span.guimenuitem,
span.guisubmenu
{
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    color: #dd1144;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}

span.accel {
    text-decoration: underline red;
}

span.database {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    color: #dd1144;
    background-color:#f7f7f9;
    border:1px solid #e1e1e8;
}

span.package + code.classname::before, span.package + code.exceptionname::before, span.package + code.interfacename::before {
    content: ".";
}

span.term {
    font-weight: bold;
}

pre.programlisting {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    border: thin solid lightgrey;
    padding: 1em;
    /* add scrollbar to see content if it overflows */
    overflow: auto;
    margin: 0em;
}

pre.screen {
    font-family: Consolas, monaco, monospace;
    font-size: 0.95em;
    border: thin solid lightgrey;
    padding: 1em;
    /* add scrollbar to see content if it overflows */
    overflow: auto;
}

th {
    vertical-align: bottom;
}

td {
    vertical-align: top;
}

/* set this so list numbers in nested lists are not vertical-align center */   
table.orderedlist tbody tr td {
    vertical-align: top;
}

/* controls how far to the right each level of <dd> will move;
 * default to 40px; 0px to left align all levels
 */
dd {
    margin-left: 20px;
}

div.segmentedlist table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr.segtitle th {
    border: 1px solid black;
    padding: 0.5em;
    vertical-align: bottom;
    text-align: left;
}

td.seg {
    border: 1px solid black;
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}

div.variablelist {
    border: 1px solid lightgrey;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}
